*{
    box-sizing: border-box;
}
#Header{
    background-color:#003049;
    color: #fcbf49;
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
}
#API{
    padding-top: 10px;
    width: 30%;
    height: 300px;
    padding: 10px;
    float: left;
    text-align: center;
    border-style: solid;
    border-collapse: separate;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #003049;
    color: #fcbf49;
}
#CS{
    box-sizing: border-box;
    width: 50%;
    height: 300px;
    padding: 10px;
    float: left;
    text-align: center;
    border-style: solid;
    border-collapse: separate;
    margin-top: 50px;
    margin-left: 50px;
    background-color:#003049;
    color: #fcbf49
}
#search{
    padding-top: 10px;
    padding-bottom: 10px;
}
#Output{
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
    border-style: solid;
    margin-top: 400px;
    background-color:#003049;
    color: #fcbf49
}
#columns{
    width: 50%;
    height: 200px;
    padding: 10px;
    float: left;
    text-align: center;
}
#Summary{
    width: 50%;
    height: 200px;
    padding: 10px;
    float: left;
    text-align: center;
}
#op{
    width: 10%;
    height: 30px;
    background-color:#fcbf49;
    text-align: center;
    line-height: 30px;
    color: #003049;
    font-family: 'Times New Roman', Times, serif;
}
#op2{
    display: block;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
th, td{
    border: 1px solid wheat;
    padding: 5px;
}